name: repository
description: A new Flutter package project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

  core:
    path: ../core

  core_cai_v3:
    path: ../../core-cai-v3/core_cai_v3
    
  firebase_auth: ^3.7.0
  google_sign_in: ^5.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
